<header>
  <h1>Header</h1>

  <nav>
    <ul>
      <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
      <li><a routerLinkActive="active" routerLink="/notes/123" [queryParams]="{title: 'Test', content:'Hello'}">notes
          123 +
          QueryParams</a>
      </li>
      <li><a routerLinkActive="active" routerLink="/notes/234">notes 234</a></li>
      <li><a routerLinkActive="active" routerLink="/notes">notes</a></li>
      <li><a routerLinkActive="active" routerLink="/payments">payments</a></li>
      <li><a routerLinkActive="active" routerLink="/about">about</a></li>


    </ul>
  </nav>

</header>


<section>
  <router-outlet></router-outlet>
</section>

<footer>
  <h1>Footer</h1>
  <button (click)="navigateToNotes()">Go To Notes</button>
</footer>