<div class="container1">
  <span>
    <button (click)="subscribe(1)">Subscribe 1</button>
    <button (click)="unsubscribe(1)">UnSubscribe 1</button>
  </span>
  <span #innerContainer1></span>
</div>
<hr>

<div class="container2">
  <span>
    <button (click)="subscribe(2)">Subscribe 2</button>
    <button (click)="unsubscribe(2)">UnSubscribe 2</button>
  </span>
  <span #innerContainer2></span>
</div>
<hr>


<div class="container3">
  <span>
    <button (click)="subscribe(3)">Subscribe 3</button>
    <button (click)="unsubscribe(3)">UnSubscribe 3</button>
  </span>
  <span #innerContainer3></span>
</div>