<header>
  <h2>Header</h2>
  <ng-container *ngTemplateOutlet="brandTemplate; context: brandContext"></ng-container>
</header>

<br />
<br />


<section>
  <h2>Body</h2>
  <ng-container
    *ngTemplateOutlet="brandTemplate; context: {$implicit: {'brand-name': 'Puma', 'heading': 'Puma Heading'}}">
  </ng-container>
</section>


<br />
<br />

<footer>
  <h2>Footer</h2>

  <ng-container *ngTemplateOutlet="brandTemplate; context:brandContext"></ng-container>
  <p>Footer note here &copy; 2023</p>
</footer>

<ng-template #brandTemplate let-data let-description="description">
  <div>
    <img src="../assets/logo.jpg" alt="">
    <p class="brand-name"><strong>{{data['brand-name']}}</strong></p>
    <p class="brand-sub-heading">{{data.heading}}</p>
    <p class="brand-sub-heading">{{description}}</p>
  </div>
</ng-template>

<!-- see also $implicit  -->