<p>Template Driven Form</p>


<form #userRegistrationForm="ngForm" (ngSubmit)="registerUser()" novalidate>

    <div>
        <label for="">username : <input required type="text" name="username" ngModel #username="ngModel"></label>
        <div *ngIf="!username.valid && (username.dirty || username.touched)"> username is required</div>
    </div>

    <div>
        <label for="">email : <input type="email" name="email" ngModel></label>
        <div></div>


    </div>


    <div><label for="">dob : <input type="date" name="dob" ngModel></label></div>

    <div>
        <label for="">Gender</label>
        <input type="radio" name="gender" value="male" ngModel />
        <input type="radio" name="gender" value="female" ngModel />
    </div>


    <div>
        <label for="">Select Skills</label>
        <input type="checkbox" name="csharp" value="c#" ngModel />
        <input type="checkbox" name="python" value="python" ngModel />
        <input type="checkbox" name="java" value="java" ngModel />
    </div>


    <div>
        <label for="">Age</label>
        <select name="age" ngModel>
            <option value="">Select Age</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
        </select>
    </div>


    <div ngModelGroup="address">
        <div><label for="">city : <input type="text" name="city" ngModel></label></div>
        <div><label for="">street : <input type="text" name="street" ngModel></label></div>
    </div>


    <button type="submit" [disabled]="!userRegistrationForm.valid">submit</button>

</form>


<button (click)="setUserName()">Set UserName</button>
<button (click)="patchForm()"> patch form</button>
<button (click)="reset()">reset</button>