<div>
    <a routerLink="/home">home </a>
    <a routerLink="/contact">contact </a>
    <a routerLink="/products">products </a>
    <a routerLink="/products/4">products/4 </a>
    <a routerLink="/payment">payment </a>
    <a routerLink="/about">about </a>
</div>
<br />
<div>
    <a routerLink="/settings">settings </a>
    <a routerLink="/settings/email">settings/email </a>
    <a routerLink="/settings/account">settings/account </a>
    <a routerLink="/settings-lazy">settings-lazy </a>
    <a routerLink="/settings-lazy/email">settings-lazy/email </a>
    <a routerLink="/settings-lazy/account">settings-lazy/account </a>
</div>
<br />
<div>
    <a routerLink="/user">user </a>
    <a routerLink="/user-registration">user-registration </a>
    <a routerLink="/admin-registration">admin-registration </a>
</div>
<br />