.light-mode{
    background-color: white;
    color: black;
}

.dark-mode{
    background-color: black;
    color: white;
}

.border-on {
    border: 2px solid red;
}

.on-sale{
    font-size: 30px;
}